################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bitly-dot-net/FileContentIndex/6e847a9b-487f-45c9-bff8-a1431e029b83.vsidx
/.vs/bitly-dot-net/FileContentIndex/c6086e17-3d54-4319-9ffd-7d6ee06ded1e.vsidx
/.vs/bitly-dot-net/v17/.wsuo
/.vs/bitly-dot-net/v17/DocumentLayout.json
/.vs/BitlyDotNET/FileContentIndex/87385ab6-71ce-434a-b073-e0fff118f794.vsidx
/.vs/BitlyDotNET/FileContentIndex/9d01d56f-df2f-444b-aa2c-644e0c091d53.vsidx
/.vs/BitlyDotNET/v17/.suo
/.vs/BitlyDotNET/v17/DocumentLayout.json
